[user]
	name = jhx
	email = jhx0x00@gmail.com
[alias]
	a = add
	c = commit
	s = status
	p = push
	pl = pull
	b = branch
	d = diff
[color]
	ui = auto
	interactive = auto
[core]
	filemode = false
[pull]
	ff = only
