Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcdfilter

xterm*faceSize: 10
xterm*faceName: Monospace
xterm*background: #000000
xterm*foreground: #ffffff
xterm*savelines: 16384
xterm*scrollBar: false
xterm*xftAntialias: true
xterm*cursorColor: white
xterm*locale: utf8
xterm*utf8: true

