Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcdfilter

xterm*faceSize: 10
xterm*faceName: Monospace
xterm*background: #000000
xterm*foreground: #ffffff
xterm*savelines: 16384

!!
! Molokai theme
!!!

!black darkgray
*color0:    #1B1D1E
*color8:    #808080
!darkred red
*color1:    #FF0044
*color9:    #F92672
!darkgreen green
*color2:    #82B414
*color10:   #A6E22E
!darkyellow yellow
*color3:    #FD971F
*color11:   #E6DB74
!darkblue blue
*color4:    #266C98
*color12:   #7070F0
!darkmagenta magenta
*color5:    #AC0CB1
*color13:   #D63AE1
!darkcyan cyan
*color6:    #AE81FF
*color14:   #66D9EF
!gray white
*color7:    #CCCCCC
*color15:   #F8F8F2

!!
! Molokai variant
!!

!*cursorColor: #d0d0d0
!*color0: #101010
!*color1: #960050
!*color2: #66aa11
!*color3: #c47f2c
!*color4: #30309b
!*color5: #7e40a5
!*color6: #3579a8
!*color7: #9999aa
!*color8: #303030
!*color9: #ff0090
!*color10: #80ff00
!*color11: #ffba68
!*color12: #5f5fee
!*color13: #bb88dd
!*color14: #4eb4fa
!*color15: #d0d0d0

