[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Conky
Comment=System monitor
Exec=conky -c /home/x/.conky/.conkyrc-debian
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true
